extends ../layout

block head
    title= "Components | " + title

block content
    ul
        li
            a(href="stepper")
                | Stepper
        li
            a(href="tabs")
                | Tabs