doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Demo Stepper
        block additional-head
    body
        header
            include includes/header
        main
            block content
        footer
            include includes/footer